*{
    margin: 0;
    padding: 0;
}
 header{
    background-color:#0B2447;
    height: 90px;
 }
 P1{
    display: flex;
    justify-content: center;
    align-content: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: xx-large;
    text-shadow: 1px 2px 4px black,1px 4px 8px black,1px 6px 12px black;
 }
 nav{
   display: flex;
    background-color: rgb(183, 171, 171);
    height: auto;
 }
 button{
   box-shadow: 0px 0px 4px black,0px 0px 8px black;
    width: 80px;
    height: 40px;
    border-radius: 34px;
    color: white;
    font-weight: 700;
    text-shadow: 1px 2px 4px black;
    background-color: rgb(123, 122, 122);
    padding: 0;
    display: inline-block;
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 10px;
 } 
 .main-section{
    height: auto;
    border: 1px solid black;
 }
 