@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


*{
    margin: 0;
    padding:0;
}
body{
   background-color: #30E3CA;
}
 header{
    background-color:#1abc9c;
    height: 90px;
    justify-content: center;
    text-align: center;
    /* width: 1920px; */
   display: flex;
   
 }
 P1{
    display: flex;
    justify-content: center;
    align-content: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: xx-large;
    text-shadow: 1px 2px 4px black,1px 4px 8px black,1px 6px 12px black;
 }
 nav{
   display: flex;
    /* background-color: ); */
    height: auto;
    /* width: 1920px; */
 }
 .button {
   margin-top: 15px;
   margin-left: 9px;
   padding: 0.6rem 1.3rem;
   background-color: #fff;
   border: 2px solid #fafafa;
   font-size: 0.95rem;
   color: #1abc9c;
   line-height: 1;
   border-radius: 25px;
   outline: none;
   cursor: pointer;
   transition: 0.3s;
   /* margin: 0; */
 }
 
 .button:hover {
   background-color: transparent;
   color: #fff;
 }

 .main_section{
  

 }
 
 
 